.container{
	padding: 0 10px 0 10px;
	margin: 10px;

}

header{
	background-color: blue;
	font-size: 40px;
	text-align: center;
	color: white;

}

.rules{
	background-color: #e6ffff;
	font-size: 24px;
	text-align: center;
	width: 60%;
	/*height: 210px;*/
	float: middle;
	margin: auto;
	border: 3px solid blue;
	/*margin: 15px;*/
}

#record{
	height: 130px;
	width: 150px;
	background-color:   #afc983;
	float: left;
	border: 3px solid blue;
	margin: 20px 40px 20px 40px;
	font-size: 24px;

}
#record{
	height: 130px;
	width: 150px;
	background-color: #e6d2f9;
	float: right;
	border: 3px solid blue;
	margin: 20px 40px 20px 40px;
}
#display{
	/*background-color: red;*/
	margin: 10px;
	padding: 15px;
	width: 100%;
	height: 135px;
	font-size: 20px;
	/*float: middle;*/
}

#diamond{
	background-image: url("../images/diamond.jpg");
	height: 100px;
	width: 100px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid blue;
}
#ruby{
	background-image: url("../images/ruby.jpg");
	height: 100px;
	width: 100px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid blue;
}
#sapphire{
	background-image: url("../images/sapphire.jpg");
	height: 100px;
	width: 100px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid blue;
}
#topaz{
	background-image: url("../images/topaz.jpg");
	height: 100px;
	width: 100px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid blue;
}
#nextGame{
	/*background-image: url("../images/topaz.jpg");*/
	height: 100px;
	width: 100px;
	float: right;
	border: 3px solid blue;
	/*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/

}

body{
	text-align: center;
	background-image: url("../images/numbers.jpg");
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;

}


#targetScore{
	float: left;
	height: 130px;
	width: 130px;
	background-color:   #afc983;
	/*float: left;*/
	border: 3px solid blue;
	margin: 20px 40px 20px 40px;
}

#totalScore{
	float: left;
	height: 130px;
	width: 130px;
	background-color:   #afc983;
	/*float: left;*/
	border: 3px solid blue;
	margin: 20px 40px 20px 40px;
}

#total{
	font-size: 60px;
	font-weight: thick;
}

#score{
	font-size: 60px;
}

#nextGame{
	background-color: blue;
	color: white;
	font-size: 30px;
	text-align: center;
	border: 3px solid white;
}